/* app css stylesheet */

body {
  padding-top: 20px;
  

}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    color:#0074A3;
}

h2 {
    color:#4D8DA8;
}

.subtitle {
    margin-top:-10px;
    font-style: italic;
}

.category {
    font-weight: bold;
}


table, th, td {
    border: 1px solid #CCC;
}
td {
    padding:5px;
}

code, pre {
    background-color:#e7feea;
    color:#333;
}
code.insecure, pre.insecure {
    background-color:#f9f2f4;
    color: #c7254e;
}

.filter_box {
    padding-top:5px;
    padding-bottom:10px;
    background-color: #FFFFFF;
    border:1px solid #DDDDDD;
    box-shadow: 5px 5px 2px #DDDDDD;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .guideline {
        page-break-inside: avoid;
    }
}