<!doctype html>
<html lang="en" ng-app="checklistApp">
<head>
  <meta charset="utf-8">
  <title>Security Cheat Sheet</title>

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="js/angular.js"></script>
  <script src="js/controllers.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>

</head>
<body ng-controller="SecurityChecklistCtrl">

  <div class="container-fluid" style="column-count: 3;">
    <div class="row">
      <div class="col-md-2 no-print">
        Generate a cheat sheet specific for the technologies your development team used.<br/>
        <br/>
        <span class="category"><i class="fa fa-code"></i> .NET:</span><br/>
        <input type="checkbox" ng-model="filter['manualenc']" > Manual encoding<br/>
        <input type="checkbox" ng-model="filter['razor']"> Razor (.cshtml/.vbhtml)<br/>
        <input type="checkbox" ng-model="filter['webforms']"> Web Forms (.aspx)<br/>
        <input type="checkbox" ng-model="filter['sanitizehtml']"> HTML Sanitization<br/>
        <input type="checkbox" ng-model="filter['sqli']"> SQL - ADO.net<br/>
        <input type="checkbox" ng-model="filter['oscmd']"> OS Command<br/>
        <input type="checkbox" ng-model="filter['ldap']"> LDAP Queries<br/>
        <input type="checkbox" ng-model="filter['xpath-basic']"> XPath<br/>
        <input type="checkbox" ng-model="filter['xpath-mvpxml']"> XPath MvpXml<br/>
        <input type="checkbox" ng-model="filter['xxe']"> XML parsing (XXE)<br/>
        <br/>
        <span class="category"><i class="fa fa-code"></i> Javascript:</span><br/>
        <input type="checkbox" ng-model="filter['angular']" > Angular<br/>
        <input type="checkbox" ng-model="filter['ember']"> Ember.js<br/>
      </div>
      <div class="col-md-10" style="column-count: 3;">
        <!--Body content-->
        <h1><i class="fa fa-list"></i> Security Cheat Sheet</h1>
        <h2 class="subtitle no-print">for developpers and security auditors</h2>
        <br/>
        <div>
          <div class="guideline" ng-repeat="g in filtered=(guidelines | filter:filterByFrameworks)">
            <h3>{{g.title}}</h3>
            <p ng-bind-html="g.descriptionHtml"></p>
            <p class="no-print"><a href="{{g.refUrl}}">{{g.refUrl}}</a></p>
          <hr/>
          </div>
        </div>
        <div><small>Cheatsheet created by <a href="http://gosecure.ca">GoSecure</a> release under <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons</a></small></div>
      </div>
    </div>
  </div>
</body>
</html>
